.container {
  width: 60%;
  
}

.fighter-b {
  background-color: cornflowerblue;
  margin-top: 25px;
  width: 80%;
  border-radius: 15px 35px 15px 15px;
  box-shadow: 0px 0px 10px rgb(132, 132, 133);
  border: cornflowerblue solid;
}
h4,
h1 {
  color: #011627;
}

 .count-container{
  height: 120px;
 padding-top: 20px;
}


.btn-container {
  display: flex;
  height: 50px;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin: 0;
  background-color: aliceblue;
  border-radius: 0px 0px 15px 15px;
}
.btn-control {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  background-color: aliceblue;
  color: #011627;
  cursor: pointer;
  width: 100%;
}
/* .btn-control-b:hover {
  background-color: #ff9f1c;
  color: aliceblue;
  border-radius: 0px 0px 15px 15px;
  height: 100%;
} */
@media only screen and (max-width: 600px) {
  .btn-control {
    font-size: 80%;
  }

  .container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .fighter-b {
  background-color: cornflowerblue;
  margin-top: 25px;
  width: 100%;
  border-radius: 15px 35px 15px 15px;
  box-shadow: 0px 0px 10px rgb(132, 132, 133);
  border: cornflowerblue solid;
}
}
