.App {
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdfffc;

  width: 100%;
}
@media only screen and (max-width: 600px) {
}
h2{
  margin-top: 25PX;
}
h4 {
  color: #011627;
  font-size: 90%;
}
